* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    // height: 10vh;
    // debug
    // background-color: lightgreen;
}

.main {
    // height: 30vh;
    background-color: black;
}

.footer {
    // height: 60vh;
    // debug
    background-color: lightcoral;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}